.button {
  width: 260px;
  padding: 14px;

  display: inline-block;

  border: 2px solid $content-color;

  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  font-family: inherit;
  text-transform: uppercase;
  color: $content-color;

  cursor: pointer;
  box-sizing: border-box;
}

.button:hover {
  background-color: $content-color;
  color: #ffffff;
}

.button:active {
  color: transparentize(#ffffff, 0.3);
}
