.catalog-sections {
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog-sections__item--interior {
  background-color: $main-color;
}

.catalog-sections__item--toys {
  background-color: darken(desaturate(adjust-hue($main-color, 3deg), 6%), 5%);
}

.catalog-sections__link {
  display: block;
  padding: 28px 30px;

  font-size: 19px;
  line-height: 24px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
}

.catalog-sections__title {
  display: inline-block;
  width: 130px;
}
