.catalog-sections {
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog-sections__item--interior {
  background-color: $main-color;
}

.catalog-sections__item--toy {
  background-color: #56c3b2;
}

.catalog-sections__link {
  display: block;
  padding: 28px 0;

  font-size: 19px;
  line-height: 24px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
}

.catalog-section__wrapper {
  position: relative;
  width: 260px;
  margin: 0 auto;
}

.catalog-sections__title {
  display: block;
  width: 130px;
}

.catalog-sections__icon {
  position: absolute;

  opacity: 0.5;
}

.catalog-sections__icon path {
  fill: #149080;
}

.catalog-sections__icon--interior {
  top: -5px;
  right: 6px;
}

.catalog-sections__icon--toy {
  top: -4px;
  right: -7px;
}

@media (min-width: $tablet-width) {
  .catalog-sections {
    display: flex;
  }

  .catalog-sections__item {
    flex-grow: 1;
  }

  .catalog-section__wrapper {
    width: auto;
    margin: 0 37px;
  }
}
