.catalog {
  width: 100%;
}

.catalog__title {
  margin: 0 auto 30px auto;
  padding: 71px 0 76px 0;


  font-size: 27px;
  line-height: 30px;
  text-align: center;

  background-color: #f1f1f1;
}

.catalog__list {
  flex-direction: column;
  display: flex;
  width: 260px;
  margin: 0 auto;
  padding: 0;

  list-style: none;
}

.catalog__element {
  margin-bottom: 25px;
}

@media (min-width: $tablet-width) {
  .catalog {
    width: 668px;
  }

  .catalog__title {
    margin-bottom: 157px;

    font-size: 43px;
    line-height: 50px;
  }

  .catalog__element {
    margin-bottom: 54px;
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    width: 1050px;
  }

  .catalog__title {
    margin-bottom: 233px;

    font-size: 53px;
    line-height: 57px;
  }

  .catalog__list {
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -53px;
  }

  .catalog__element {
    margin: 0;
    margin-left: 51px;
    margin-bottom: 20px;
  }
}
