.catalog {
  padding: 73px 30px 25px 30px;
}

.catalog__title {
  margin: 0;
  margin-bottom: 100px;

  text-align: center;
}

.catalog__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog__element {
  margin-bottom: 30px;
}
