.catalog-sections {
  padding: 0;

  list-style: none;
}

.catalog-sections__link--interior {
  background-color: $main-color;
}

.catalog-sections__link--toy {
  background-color: #56c3b2;
}

.catalog-sections__link {
  display: block;
  padding: 27px 0;

  font-size: 19px;
  line-height: 24px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;

  &:hover .catalog-sections__icon {
    opacity: 0.7;
  }

  &:active .catalog-section__wrapper {
    opacity: 0.3;
  }
}

.catalog-section__wrapper {
  position: relative;
  width: 260px;
  margin: 0 auto;
}

.catalog-sections__title {
  display: block;
  width: 130px;

  font-size: 19px;
  line-height: 24px;
}

.catalog-sections__icon {
  position: absolute;

  opacity: 0.5;
}

.catalog-sections__icon path {
  fill: #149080;
}

.catalog-sections__icon--interior {
  top: -4px;
  right: 5px;
}

.catalog-sections__icon--toy {
  top: -4px;
  right: -3px;
}

@media (min-width: $tablet-width) {
  .catalog-sections {
    position: relative;

    display: flex;
    width: 668px;
  }

  .catalog-sections__title {
    font-size: 20px;
    line-height: 30px;
  }

  .catalog-sections__item {
    flex-grow: 1;
  }

  .catalog-section__wrapper {
    width: auto;
    margin: 0 37px;
  }

  .catalog-sections__link {
    padding: 30px 0;
  }

  .catalog-sections__icon--interior {
    top: 0;
    right: -1px;
  }

  .catalog-sections__icon--toy {
    top: 1px;
  }
}

@media (min-width: $desktop-width) {
  .catalog-sections {
    width: 1050px;
  }

  .catalog-sections__link:hover {
    margin-top: -5px;
    padding-bottom: 35px;
  }
}
