.copyright {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 22px 0;

  box-sizing: border-box;
}

.copyright__link {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.copyright__link path {
  fill: $main-color;
}

.copyright__link:hover path {
  fill: #46c1ae;
}

.copyright__link:active {
  opacity: 0.3;
}

.copyright__text {
  margin-right: 30px;

  font-size: 19px;
  line-height: 19px;
}

@media (min-width: $tablet-width) {
  .copyright {
    width: 200px;
    justify-content: flex-end;
  }
}
