.main-header {
  margin: 0 auto;
  // margin-bottom: 4px;
}

.main-header--catalog {
  margin-bottom: 67px;
}

@media (min-width: $tablet-width) {
  .main-header {
    margin-bottom: 22px;
  }

  .main-header--catalog {
    margin-bottom: 32px;
  }

  .main-header--order {
    margin-bottom: 34px;
  }
}

@media (min-width: $desktop-width) {
  .main-header {
    margin-bottom: 0;
  }

  .main-header--catalog {
    margin-bottom: 10px;
  }

  .main-header--order {
    margin-bottom: 36px;
  }
}
