@media (min-width: $tablet-width) {
  .main-header {
    z-index: 100;
  }
}

@media (min-width: $desktop-width) {
  .main-header {
    margin: 0 auto;
  }

  .main-header--catalog {
    margin-bottom: 10px;
  }

  .main-header--order {
    margin-bottom: 36px;
  }
}
