.order__title {
  width: 100%;
  margin: 0;
  margin-bottom: 22px;
  padding: 70px 0 76px 0;

  font-size: 27px;
  line-height: 30px;

  background-color: #f1f1f1;
}

.order__title-text {
  display: block;
  width: 260px;
  margin: 0 auto;
  padding-left: 10px;
}

.order__description {
  width: 260px;
  margin: 0 auto 23px auto;

  font-size: 13px;
  line-height: 24px;
}

.order__form {
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .order {
    width: 668px;
    padding: 0;
  }

  .order__title {
    margin-bottom: 150px;

    text-align: center;
    font-size: 43px;
    line-height: 50px;
  }

  .order__description {
    margin-bottom: 56px;

    font-size: 17px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .order {
    width: 1050px;
  }

  .order__header {
    padding-right: 175px;
    padding-left: 175px;
  }

  .order__title {
    margin-bottom: 220px;

    font-size: 53px;
    line-height: 57px;
  }
}
