.order {
  padding: 75px 30px 30px 30px;
}

.order__title {
  margin: 0;
  margin-bottom: 98px;

  font-size: 27px;
  line-height: 30px;
}

.order__description {
  margin: 0;
  margin-bottom: 23px;

  font-size: 13px;
  line-height: 24px;
}
