.page-header {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 260px;
  padding: 22px 0 0 0;
}

.page-header__mobile-logo {
  margin-bottom: 22px;
}

.page-header__tablet-logo,
.page-header__desktop-logo {
  position: absolute;

  display: none;
}

.page-header__tablet-logo {
  top: 22px;
  left: 0;

  margin: 0;
}

.page-header__desktop-logo {
  top: 9px;
  left: 450px;
}

@media (min-width: $tablet-width) {
  .page-header {
    width: 668px;
    padding: 0;
  }

  .page-header__mobile-logo {
    display: none;
  }

  .page-header__tablet-logo {
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    width: 1050px;
    //временно
    height: 172px;
  }

  .page-header__tablet-logo {
    display: none;
  }

  .page-header__desktop-logo {
    display: block;
  }
}
