.page-footer {
  width: 100%;

  background-color: #f1f1f1;
}

.page-footer__container {
  width: 260px;
  margin: 0 auto;
}

.page-footer__logo-wrapper {
  display: none;
  width: 200px;
}

@media (min-width: $tablet-width) {
  .page-footer__container {
    display: flex;
    justify-content: space-between;
    width: 668px;
    padding-top: 35px;
    padding-bottom: 30px;
  }

  .page-footer__logo-wrapper {
    display: flex;
    align-items: center;
  }

  .page-footer__logo {
    position: relative;
  }

  .page-footer__logo[href] {
    cursor: pointer;

    &:hover .page-footer__logo-image {
      fill: #46c1ae;
    }

    &:active {
      opacity: 0.3;
    }
  }

  .page-footer__logo::after {
    position: absolute;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    content: "";
  }

  .page-footer__logo-image {
    width: 102px;
    height: 35px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__container {
    width: 1050px;
  }
}
