.page-main__nice-items {
  margin-bottom: 31px;
}

.page-main__featured {
  margin: 0 auto 35px auto;
}

.page-main__advantages {
  margin: 0 auto 43px auto;
}

.page-main__reviews {
  margin: 0 auto 45px auto;
}

.page-main__contacts {
  margin: 0 auto 40px auto;
}

.page-main__catalog {
  margin: 0 auto 0 auto;
}

.page-main__video {
  margin: 0 auto 59px auto;
}

.page-main__order {
  margin: 0 auto 55px auto;
}

@media (min-width: $tablet-width) {
  .page-main__catalog {
    margin: 0 auto;
  }

  .page-main__nice-items {
    margin-bottom: 33px;
  }

  .page-main__featured {
    margin-bottom: 55px;
  }

  .page-main__advantages {
    margin-bottom: 45px;
  }

  .page-main__reviews {
    margin-bottom: 0;
  }

  .page-main__contacts {
    margin-bottom: 55px;
  }

  .page-main__video {
    margin-bottom: 70px;
  }

  .page-main__order {
    margin-bottom: 50px;
  }
}

@media (min-width: $desktop-width) {
  .page-main__catalog {
    margin: 0 auto;
    margin-bottom: 59px;
  }

  .page-main__featured {
    margin-bottom: 76px;
  }

  .page-main__advantages {
    margin-bottom: 50px;
  }

  .page-main__reviews {
    margin-bottom: 66px;
  }

  .page-main__contacts {
    margin-bottom: 105px;
  }

  .page-main__video {
    margin-bottom: 100px;
  }

  .page-main__order {
    margin-bottom: 43px;
  }
}
