.site-list {
  width: 260px;
}

.site-list,
.site-list__sub-menu {
  margin: 0;
  padding: 0;

  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: #000000;
  list-style: none;
}

.site-list__sub-menu {
  display: none;
  flex-grow: 1;
  font-size: 15px;
}

.site-list__desktop-item {
  display: none;
}

.site-list__item {
  position: relative;
}

.site-list__link {
  display: block;
  padding: 27px 10px 27px 0;
  padding-left: 18%;

  text-decoration: none;
  color: rgb(0, 0, 0);
}

.site-list__link[href] {
  &:hover {
    color: rgba(0, 0, 0, 0.6);
  }

  &:hover .site-list__icon {
    opacity: 1;
  }

  &:hover path {
    fill: $main-color;
  }

  &:active {
    opacity: 0.3;
  }
}

.site-list__icon {
  position: absolute;
  top: 32px;
  left: 0;

  opacity: 0.2;
}

@media (min-width: $tablet-width) {
  .site-list {
    display: flex;
    flex-wrap: wrap;
  }

  .site-list__sub-menu {
    display: flex;
  }

  .site-list__item {
    flex-shrink: 0;

    font-size: 15px;

    box-sizing: border-box;
  }

  .site-list__item--catalog {
    padding-left: 0;
  }

  .site-list__item--form {
    padding-left: 26px;
  }

  .site-list__item--search {
    order: -2;

    width: 80px;
    margin-left: 320px;
    padding-right: 34px;

    border-right: 1px solid transparentize($content-color, 0.5);
  }

  .site-list__text-search {
    display: none;
  }

  .site-list__item--search,
  .site-list__item--cart {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .site-list__item--catalog,
  .site-list__item--form,
  .site-list__sub-item {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .site-list__item--cart {
    order: -1;

    width: 264px;
    margin-left: auto;
    padding-right: 0;
    padding-left: 60px;

    font-size: 17px;
    text-align: end;
  }

  .site-list__icon--search {
    left: 34px;
    top: 36px;
  }

  .site-list__icon--cart {
    left: 32px;
    top: 36px;
  }

  .site-list__sub-item {
    margin-left: auto;
    padding-left: 10px;

    font-weight: normal;
  }
}

@media (min-width: $desktop-width) {
  .site-list__item {
    padding-top: 32px;
    padding-bottom: 32px;

    font-size: 17px;
  }

  .site-list__item,
  .site-list__desktop-item {
    width: 200px;
    padding-left: 0;
    padding-right: 10px;

    box-sizing: border-box;
  }

  .site-list__item--form,
  .site-list__desktop-item--sale {
    margin-left: 20px;
  }

  .site-list__item--search {
    order: 0;

    width: 80px;
    margin-left: auto;
    padding-right: 40px;
    padding-left: 40px;
  }

  .site-list__item--cart {
    order: 0;

    width: 268px;
    margin-left: 0;
    padding-right: 0;
    padding-left: 60px;
  }

  .site-list__sub-menu {
    width: 100%;
  }

  .site-list__desktop-item {
    display: block;
    padding: 20px 10px 20px 0;
  }
}

