.social {
  width: 100%;
  border-bottom: 1px solid #e5e5e5;

  box-sizing: border-box;
}

.social__list,
.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social__list {
  margin: 0;
  padding: 0;
  padding-right: 7px;

  list-style: none;
}

.social__link {
  position: relative;
  width: 58px;
  height: 79px;

  &:hover svg {
    fill: #46c1ae;
  }

  &:active {
    opacity: 0.3;
  }
}

.social__link::after {
  position: absolute;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  content: "";
}

@media (min-width: $tablet-width) {
  .social {
    width: 200px;

    border: none;
  }
}
