.social {
  align-self: stretch;
  border-bottom: 1px solid #e5e5e5;
}

.social__list,
.social__item,
.social__link {
  display: flex;
  justify-content: center;
}

.social__list {
  margin: 0 auto;
  padding: 0;

  list-style: none;
}

.social__item {
  align-items: center;
  width: 55px;
  height: 79px;
}

.social__link {
  align-items: center;
  width: 30px;
  height: 30px;
}

.social__link:hover path {
  fill: darken(desaturate(adjust-hue($main-color, 3deg), 4%), 8%);
}

.social__link:active path {
  fill: transparentize($main-color, 0.5);
}
