.social {
  width: 100%;
  border-bottom: 1px solid #e5e5e5;

  box-sizing: border-box;
}

.social__list,
.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social__list {
  margin: 0;
  padding: 0;
  padding-right: 7px;

  list-style: none;
}

.social__link {
  width: 58px;
  height: 79px;
}

.social__link:hover path {
  fill: darken(desaturate(adjust-hue($main-color, 3deg), 4%), 8%);
}

.social__link:active path {
  fill: transparentize($main-color, 0.5);
}

@media (min-width: $tablet-width) {
  .social {
    width: 200px;

    border: none;
  }
}
