.video {
  display: flex;
  flex-direction: column;
  width: 260px;
  padding: 24px 0 33px 0;

  border: 1px solid #ececec;

  box-sizing: border-box;
}

.video__header {
  display: flex;
  margin-bottom: 23px;
  padding-left: 25px;
}

.video__icon {
  flex-shrink: 0;

  width: 32px;
  height: 32px;

  padding: 6px 10px 10px 10px;

  fill: $main-color;
}

.video__title {
  margin: 0;
  padding-left: 13px;

  font-size: 17px;
  line-height: 24px;
}

.video__picture {
  position: relative;

  width: 260px;
  height: 150px;
  margin-bottom: 30px;
}

.video__play {
  position: absolute;
  top: 37px;
  left: 80px;

  width: 101px;
  height: 77px;
  padding: 0;

  background: none;
  background-image: url("../img/icon-play.svg");
  background-repeat: no-repeat;
  background-size: contain;

  border: none;

  cursor: pointer;

  &:hover {
    top: 29px;
    left: 69px;

    width: 122px;
    height: 93px;
  }

  &:active {
    top: 44px;
    left: 90px;

    width: 81px;
    height: 62px;

    opacity: 0.3;
  }
}

.video__make-order,
.video__description {
  margin: 0 34px;
}

.video__description {
  margin-bottom: 23px;

  font-size: 13px;
  line-height: 24px;
}

.video__make-order {
  width: auto;

  font-size: 17px;
}

@media (min-width: $tablet-width) {
  .video {
    width: 668px;
    padding-top: 0;
  }

  .video__header {
    margin: 0 42px 30px 42px;
    padding: 0;
  }

  .video__icon {
    padding: 0;
  }

  .video__title {
    margin-left: 20px;
    padding-top: 3px;

    font-size: 20px;
  }

  .video__picture {
    order: -1;

    width: 668px;
    height: 455px;
    margin-bottom: 36px;
  }

  .video__play {
    position: absolute;
    top: 189px;
    left: 283px;

    &:hover {
      top: 181px;
      left: 273px;

      width: 122px;
      height: 93px;
    }

    &:active {
      top: 197px;
      left: 294px;

      width: 81px;
      height: 62px;
    }
  }

  .video__description {
    margin: 0 42px 34px 42px;

    font-size: 15px;
    line-height: 30px;
  }

  .video__make-order {
    margin: 0 42px;
  }
}

@media (min-width: $desktop-width) {
  .video {
    position: relative;

    width: 1050px;
    min-height: 455px;
    padding: 42px 58px 0 758px;
  }

  .video__header {
    display: block;
    margin: 0;
    margin-bottom: 33px;
  }

  .video__icon {
    margin-bottom: 16px;
  }

  .video__title {
    margin: 0;
    padding: 0;
  }

  .video__picture {
    position: absolute;
    top: 0;
    left: 0;

    width: 682px;
    height: 455px;
  }

  .video__description {
    margin: 0;
    margin-bottom: 49px;
  }

  .video__make-order {
    margin: 0;
  }

  .video__play {
    left: 291px;

    &:hover {
      left: 280px;
    }

    &:active {
      left: 301px;
    }
  }
}
