.video {
  display: flex;
  flex-direction: column;
  width: 260px;
  padding: 22px 0 33px 0;

  border: 1px solid #ececec;

  box-sizing: border-box;
}

.video__header {
  display: flex;
  margin-bottom: 23px;
  padding-left: 25px;
}

.video__icon path {
  fill: $main-color;
}

.video__icon {
  flex-shrink: 0;

  width: 32px;
  height: 32px;

  padding: 6px 10px 10px 10px;
}

.video__title {
  margin: 0;
  padding-left: 13px;

  font-size: 17px;
  line-height: 24px;
}

.video__picture {
  width: 260px;
  height: 150px;
  margin-bottom: 30px;
}

.video__image-tablet,
.video__image-desktop {
  display: none;
}

.video__make-order,
.video__description {
  margin: 0 34px;
}

.video__description {
  margin-bottom: 23px;

  font-size: 13px;
  line-height: 24px;
}

.video__make-order {
  width: auto;
}

@media (min-width: $tablet-width) {
  .video {
    width: 668px;
  }

  .video__header {
    margin: 0 42px 30px 42px;
    padding: 0;
  }

  .video__icon {
    padding: 0;
  }

  .video__title {
    margin-left: 20px;
    padding-top: 3px;
    font-size: 20px;
  }

  .video__picture {
    margin-bottom: 36px;
    width: 668px;
    height: 455px;
    order: -1;
  }

  .video__image {
    display: none;
  }

  .video__image-tablet {
    display: block;
  }

  .video__description {
    margin: 0 42px 34px 42px;

    font-size: 15px;
    line-height: 30px;
  }

  .video__make-order {
    margin: 0 42px;
  }
}

@media (min-width: $desktop-width) {
  .video {
    position: relative;

    width: 1050px;
    padding: 42px 58px 0 758px;
  }

  .video__header {
    display: block;
    margin: 0;
    margin-bottom: 33px;
  }

  .video__icon {
    margin-bottom: 16px;
  }

  .video__title {
    margin: 0;
    padding: 0;
  }

  .video__picture {
    position: absolute;
    top: 0;
    left: 0;
    width: 682px;
    height: 455px;
  }

  .video__image-tablet {
    display: none;
  }

  .video__image-desktop {
    display: block;
  }

  .video__description {
    margin: 0;
    margin-bottom: 49px;
  }

  .video__make-order {
    margin: 0;
  }
}
